<div class="container p-4">
    <div class="row">
        <div class="col md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3> Bienvenido {{user.nombre_completo}}</h3>
                    <h4> {{user.username}}</h4>
                    <a href="/reservas/add" class="btn btn-primary md-4">
                        Reserva ya!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>