.box{
  border: 2px dotted red;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
}

#tratamientos-text {
  padding-top: 10px;
  padding-bottom: 10px;
}
#header img {
  width: 80px;
  border: 2px solid #fae2ef;
  border-radius: 50px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: conver;
}

/* tratamientos */

#tratamientos .card img {
  max-width: 100%;
}

/* Footer */

#footer {
  clear: both; 
  position: relative; 
  z-index: 1; 
  height: -3em;
  margin-top: 40em; 
}

#footer a {
  color: rosybrown;
}

/* .img{
  background-image: url('../images/carousel-1.jpg');
} */

.btn-fun2lash {
  background-color: white;
  color: black;
  border-color: gray;
}

#card-reservas .img-logo {
  width: 250px;
  /* max-width: 100%; */
  border: 2px solid #fae2ef;
  border-radius: 150px;
  
}
