#header {
  background-color: #c83699;
}

#header img {
width: 80px;
border: 2px solid #fae2ef;
border-radius: 50px;
}

#main .carousel-inner img {
max-height: 70vh;
object-fit: conver;
}

/* tratamientos */

#tratamientos  .card img {
max-width: 100%;
}



/* Footer */

#footer {
  background-color: #c83699;
}

#footer a {
  color: white;
}