<footer id="footer" class="pb-4 pt-4">
    <div class="container ">
        <div class="row text-center">
            <div class="col-12 col-md-6 col-lg-6">
                <h2>Nosotros</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live
                    the blind texts.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <h2>Mantente en contacto</h2>
                <a href="#"> fun2lash@example.com</a>
                <p> (123) 456-789</p>
                <img src="/images/facebook-icon.png" class="max-width: 50%" alt="facebook icon">
                <img src="/images/instagram-icon.png" class=" w-20" alt="instagram icon">
            </div>

        </div>
    </div>
</footer>