<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/carousel-1.jpg" alt="treatment" class="d-block w-100" />
        </div>
        {{!-- CAMBIAR IMAGEN POR UNA MÁS GRANDE(tamaño actual 795x371) --}}
        <div class="carousel-item">
            <img src="/images/carousel-2.jpg" alt="treatment" class="d-block w-100" />
        </div>
        <div class="carousel-item">
            <img src="/images/carousel-3.jpg" alt="treatment" class="d-block w-100" />
        </div>
    </div>
</div>
{{!-- <script>
    $('.carousel').carousel({
        interval: 1000
    })
</script> --}}
 <svg id="a-tratamientos" width="100%" height="180">
  <rect x="0" y="0" width="100%" height="140"
  style="fill:blue;stroke:rgb(243, 107, 182);stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
</svg> 
<!-- Tratamientos -->
<section id="tratamientos">
    <div class="container-fluid">
        <div class="row" id="tratamientos-text">
            <div class="col text-center text-uppercase">
                <h3>conoce nuestros</h3>
                <h1>tratamientos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-1.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0">Corte dama</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-2.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0 mt-3">Corte caballero</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text mb-4">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-3.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0">Diseño y depelación de cejas</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-4.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0">Corte dama</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-5.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0">Corte dama</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="/images/treatment-6.jpg" alt="treatment-1" />
                    <div class="card-body">
                        <h5 class="card-title mb-0">Corte dama</h5>
                        <div class="badges mb-2">
                            <span class="badge badge-warning">Lavado</span>
                            <span class="badge badge-info">Masaje</span>
                        </div>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tratamientos -->
<!-- Productos -->
<!-- Productos -->
<!-- Nosotros -->
<!-- Nosotros -->