<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/reservas/add" method="POST">
                        <p>Reservar</p>
                        <a href="">Tratamientos: </a>
                        <select name="id_tratamiento">
                            <option value="{{id_tratamiento}}" selected="selected">Seleccionar: </option>
                            {{#each tratamientos}}
                            <option value='{{id_tratamiento}}'>{{nombre_tratamiento}}</option>
                            {{/each}}
                        </select>
                        <p></p>
                        <a href="">Fecha a reservar</a>
                        <div class="form-group">
                            <input type="date" name="fecha_reservada" class="form-control" placeholder="Fecha">
                        </div>
                        <a href="">Hora deseada</a>
                        <div class="form-group">
                            <input type="time" name="hora_reservada" min="09:00" max="18:00" step="1800"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>