<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" id="card-reservas">
                <div class="card-body">
                    <form action="/reservas/add" method="POST">
                        <img class="img-logo" src="/images/logo.jpg" alt="logo">
                        <h2 class="card-title text-uppercase">Detalles de la reserva</h2>
                        <div class="form-group">
                            <input type="text" value="{{reserva.nombre_tratamiento}}" class=" form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{reserva.costo_reserva}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{moment reserva.fecha_reservada}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{moment reserva.fecha_reserva}}" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
